@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "ProximaNova";
  // адрес шрифта и тип
  src: url("../font/ProximaNova.ttf") format("truetype");
  font-style: normal;
}

.bold{
  font-weight: 700;
}

