/*Основные цвета */
@black: #071E1E;
@text_bg: #172E2E;
@lite: #E9EDEA;
@red: #FF7979;

@cf: #ffffff;
@c0: #000000;


/*Основные размер/высота текста */
@ff-s: 18px;
@ff-l: 1.2;
@ff-w: 400;

/*шрифты*/
@blocktitle: 'Montserrat', sans-serif;
@title: 'Prosto One', cursive;
@subtitle: 'Raleway', sans-serif;
@text: 'Roboto', sans-serif;






