.font(@ff-size: @ff-s, @ff-color: @c0, @ff-line: @ff-l, @ff-weight: @ff-w, @ff-fam: @text){
  font-family: @ff-fam;
  font-size: @ff-size;
  color: @ff-color;
  line-height: @ff-line;
  font-weight: @ff-weight;
}




